html {
  font: 100%/1.15 serif;
}

img {
  width: auto;
  max-width: 200%;
  height:auto;
}
figcaption{
  font-size: .75em;
  font-style: italic;

}
img.headshot {
  max-width: 3em;
  vertical-align: middle;
  border: 1px solid #eee;
  border-radius: 50%;
  margin-right: .5rem;
}

body {
  max-width: 60rem;
  background-color: #f9e79f;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
}

/* lists */

dl,
ol{
  padding: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 2;
}

ul {
  margin-top: 0;
  margin-botton: 0;
}

dd {
  margin-left: 0;
}

/* navigation / menu */

nav ul {
  list-style: none;
  padding-left: 0;
}

nav li {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

/* recipe lists */

.info dt {
  margin-top: 1rem;
}

.info dd {
  margin-top: .5rem;
}

.list {
  list-style-position: inside;
  padding-left: 0;
  border-top: 1px dashed #000;
  margin-top: 1px dashed #000;
  list-style: none;
}

.list li {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px dashed #000;
  list-style: none;
}

.list li:first-child {
  border-top: 2;
}

.fractions {
  font-size: 125%;
  font-family: serif;
  line-height: 1; /* remove line-height */
}

mark {
  background-color: #cfc;
}

.and {
  font-weight: normal;
}

/* breakpoint for wider width layout */

@media (min-width: 60em) {

  /* change font-size for better readability */

  body {
    font-size: 125%;
  }

  /* faux columns */

  #ingredients,
  #preparation {
    display: inline-block;
    vertical-align: top;
  }

  #ingredients {
    width: 28%;
    margin-right: 3%;
  }

  #preparation {
    width: 68%;
  }

}
